<!DOCTYPE html>
<html>

<body style="height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:rgb(140,48,45);">

    <div class="col-md-12" style="text-align: center;">
        <img src="../../assets/img/poster_copy.png" style="width: 500px; margin-top:10px;" class="img-fluid">
    </div>



    <div class="container" style="font-family: Courier New;">

        <br>
        <div class="p-5 my-4 bg-dark rounded-3" style="color:seashell; text-align:center;">
            <h1>"Ready your napkins, tears will be shed."</h1>
            <p class="lead">After loss of her husband, Aygün is trying to discover the meaning of happiness to her
                and she looks for a purpose to keep on going by looking through her husband's memories.
                It is a drama animation about discovering yourself and letting go of past.<br>
                Primary Target Audience: Middle class females in university (18-24) from Turkey.<br>
                Secondary Target Audience: Middle class males in university (18-24) from Turkey.<br>
            </p>
        </div>
        <br>

        <div class="col-md-12" style="text-align: center;">
            <img src="https://i.ibb.co/McjnPhf/an-Tamircisi.png"
                style="width: 800px; margin-top:40px; border-radius: 30px" class="img-fluid">
        </div>

        <div class="col-md-12" style="text-align: center;">
            <img src="https://i.ibb.co/2kZDxZ4/moodboard.png" class="img-fluid"
                style="width: 800px; margin-top: 20px; margin-bottom: 20px;">
        </div>

        <div class="row g-3" style="color: rgb(235, 229, 229); padding-top:40px; padding-bottom:40px;">
            <div class="col-md-12" style="text-align: center;">
                <h1 style="text-align:center;">Storyboard
                </h1>
            </div>
        </div>

        <div class="row g-3 text-center" style="color: rgb(235, 229, 229);">
            <div class="col-md-6 col-lg-4 col-xl-4" style="text-align: center; font-style: bold;">

                <img src="../../assets/img/storyboard/1.png" class="img-fluid">

                <p>
                    Aygün is depressed and laying in bed. She is trying to find the will to go out.
                </p>

            </div>

            <div class="col-md-6 col-lg-4 col-xl-4" style="text-align: center;">
                <img src="../../assets/img/storyboard/2.png" class="img-fluid">

                <p>
                    She tries to go through her husband's memory book but she cannot proceed.
                </p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4" style="text-align: center;">
                <img src="../../assets/img/storyboard/3.png" class="img-fluid">

                <p>
                    Mert visits Aygün at home and drags her out so that she can finish the book.
                </p>
            </div>

            <br>

            <div class="col-md-6 col-lg-4 col-xl-4" style="text-align: center; font-style: bold;">
                <img src="../../assets/img/storyboard/4.png" class="img-fluid">

                <p>
                    Aygün discovers crucial and unknown details about her husband Cantuğ while trying to repair the book.
                </p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4" style="text-align: center;">
                <img src="../../assets/img/storyboard/5.png" class="img-fluid">

                <p>
                    Aygün finally makes peace with the content of the book and she decides not to repair it and leave it as it is.
                </p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4" style="text-align: center;">
                <img src="../../assets/img/storyboard/6.png" class="img-fluid">

                <p>
                    Aygün finds the will she sought to make peace with herself and with the baby she was carrying.
                </p>
            </div>
        </div>
        <br>

        <hr>
        <footer style="text-align: center;">
            <div class="row" style="color:seashell;">
                <div class="col-md-6" style="text-align: center;">
                    <p>Story: Abrek Atakan Koç</p>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    <p>Art: Murat Ülker</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>