<nav class="navbar navbar-dark navbarbg-custom">
  <div class="container-fluid">
    <div class="item-container">
      <p class="first-item" style="padding-left: 7ch; font-family: Courier New; color:rgb(240, 235, 240); font-style: bold; font-size: 32px">
        Abrek Atakan Koç
      </p>
    </div>
    <div class="item-container">
      <p class="second-item" style="padding-right: 7ch; font-family: Courier New; font-size: 32px; font-style: bold;
       width: 80; height: 40;
      color:rgb(240, 235, 240);">
      You Still Have It</p>
    </div>
  </div>
</nav>